[{"scope":"https://api.github.com:443","method":"GET","path":"/repos/npm/cliiiiiiiii/pulls/7009","body":"","status":404,"response":["1f8b080000000000000325c9310e80200c40d1ab98ba8aec1cc0d12b18d4064d80226d27e3ddc5b8fce1bf1b1232fb80e06026e926d2bcc3003b6d9a308b9793f2a235363f440a3b6b9bf1184e39741d374ab6228b2d1a23ffed038af1e63ba6e2a58de179015b6b668569000000"],"rawHeaders":["Server","GitHub.com","Date","Fri, 24 Nov 2023 20:55:39 GMT","Content-Type","application/json; charset=utf-8","Transfer-Encoding","chunked","X-OAuth-Scopes","admin:enterprise, admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, admin:ssh_signing_key, audit_log, codespace, copilot, delete:packages, delete_repo, gist, notifications, project, repo, user, workflow, write:discussion, write:packages","X-Accepted-OAuth-Scopes","repo","X-GitHub-Media-Type","github.v3; format=json","x-github-api-version-selected","2022-11-28","X-RateLimit-Limit","5000","X-RateLimit-Remaining","4529","X-RateLimit-Reset","1700860229","X-RateLimit-Used","471","X-RateLimit-Resource","core","Access-Control-Expose-Headers","ETag, Link, Location, Retry-After, X-GitHub-OTP, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Used, X-RateLimit-Resource, X-RateLimit-Reset, X-OAuth-Scopes, X-Accepted-OAuth-Scopes, X-Poll-Interval, X-GitHub-Media-Type, X-GitHub-SSO, X-GitHub-Request-Id, Deprecation, Sunset","Access-Control-Allow-Origin","*","Strict-Transport-Security","max-age=31536000; includeSubdomains; preload","X-Frame-Options","deny","X-Content-Type-Options","nosniff","X-XSS-Protection","0","Referrer-Policy","origin-when-cross-origin, strict-origin-when-cross-origin","Content-Security-Policy","default-src 'none'","Vary","Accept-Encoding, Accept, X-Requested-With","Content-Encoding","gzip","X-GitHub-Request-Id","EC83:54C8:2C2422:5D7FAB:65610DCB"],"responseIsBinary":false}]