[{"scope":"https://api.github.com:443","method":"GET","path":"/repos/npm/cliiiiiiiii/pulls/7009","body":"","status":404,"response":["1f8b080000000000001325c6310ec3200c05d0ab54bf6b081d3271808cb94245c1229100a7d89ea2debdaaba3cbd0b8d446221046cacb795ad674cc89cac51d7a807f7a78d8a805df594e07de624733974b7d79cb8f941a2feb45ae5efbd90bae87e7783de46a298201ad50401cb63c1e70b30d5906f78000000"],"rawHeaders":{"access-control-allow-origin":"*","access-control-expose-headers":"ETag, Link, Location, Retry-After, X-GitHub-OTP, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Used, X-RateLimit-Resource, X-RateLimit-Reset, X-OAuth-Scopes, X-Accepted-OAuth-Scopes, X-Poll-Interval, X-GitHub-Media-Type, X-GitHub-SSO, X-GitHub-Request-Id, Deprecation, Sunset","content-encoding":"gzip","content-security-policy":"default-src 'none'","content-type":"application/json; charset=utf-8","date":"Tue, 22 Jul 2025 21:22:52 GMT","github-authentication-token-expiration":"2025-08-21 21:15:02 UTC","referrer-policy":"origin-when-cross-origin, strict-origin-when-cross-origin","server":"github.com","strict-transport-security":"max-age=31536000; includeSubdomains; preload","transfer-encoding":"chunked","vary":"Accept-Encoding, Accept, X-Requested-With","x-accepted-oauth-scopes":"repo","x-content-type-options":"nosniff","x-frame-options":"deny","x-github-api-version-selected":"2022-11-28","x-github-media-type":"github.v3; format=json","x-github-request-id":"FC58:28958:7358EF:78A28D:6880012C","x-oauth-scopes":"admin:gpg_key, admin:ssh_signing_key, audit_log, codespace, copilot, delete:packages, gist, notifications, project, repo, user, workflow, write:discussion, write:network_configurations, write:packages","x-ratelimit-limit":"5000","x-ratelimit-remaining":"4889","x-ratelimit-reset":"1753220116","x-ratelimit-resource":"core","x-ratelimit-used":"111","x-xss-protection":"0"},"responseIsBinary":false}]