[{"scope":"https://api.github.com:443","method":"GET","path":"/repos/npm/npm-cli-release-please/pulls/207","body":"","status":401,"response":{"message":"Bad credentials","documentation_url":"https://docs.github.com/rest","status":"401"},"rawHeaders":{"access-control-allow-origin":"*","access-control-expose-headers":"ETag, Link, Location, Retry-After, X-GitHub-OTP, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Used, X-RateLimit-Resource, X-RateLimit-Reset, X-OAuth-Scopes, X-Accepted-OAuth-Scopes, X-Poll-Interval, X-GitHub-Media-Type, X-GitHub-SSO, X-GitHub-Request-Id, Deprecation, Sunset","content-length":"95","content-security-policy":"default-src 'none'","content-type":"application/json; charset=utf-8","date":"Tue, 22 Jul 2025 20:34:02 GMT","referrer-policy":"origin-when-cross-origin, strict-origin-when-cross-origin","server":"github.com","strict-transport-security":"max-age=31536000; includeSubdomains; preload","vary":"Accept-Encoding, Accept, X-Requested-With","x-content-type-options":"nosniff","x-frame-options":"deny","x-github-media-type":"github.v3; format=json","x-github-request-id":"F5F6:F878E:9A8B05:9EAA0C:687FF5BA","x-ratelimit-limit":"60","x-ratelimit-remaining":"47","x-ratelimit-reset":"1753218189","x-ratelimit-resource":"core","x-ratelimit-used":"13","x-xss-protection":"0"},"responseIsBinary":false}]